<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi's Photobooth Startpage</title>
</head>
<body class="bg-pink-50">
    <header>
        <img src="/img/logoMipink.png" alt="Mi's Photobooth LOGO"/>
        <p> welcome to your personal photobooth</p>
    </header>
    <main>
        <form>
            <label>
                E-Mail
                <input type="text" name="email" required> 
            </label>
            <br>
            <label>
                Password
                <input type="password" placeholder="Enter Password" name="password" required> 
            </label>
            <br>
            <button type="submit"> sign in </button>
        </form>
        <p> <a href="/src/app/components/signup/signup.html"> sign up now! </a></p> 

    </main>
    <footer>

    </footer>
   
</body>
</html>