<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    </head> 
    <body>
        <header>
            <div class="Head Logo">
                <img src="/img/logoMipink.png" alt="Mi's Photobooth Logo Pink">
            </div>
        </header>
        <main>
            <section>
                <video id="camera" autoplay playsinline></video>
            </section>
            <section>
               <button id="startButton" type="button"> Start </button>
            </section>
            <hr>
            <section>
                <h2> Your Photo Stripes </h2>
                <div id="photo-gallery">
                    <!-- erstellte Fotostreifen mit JS einfügen -->
                </div>
            </section>
        </main>
        <footer> 
            <p> © 2026 Mi's Photobooth </p> 
        </footer>
    </body>
    </html>